body {
    font-family: 'Lato', sans-serif;
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.span-changes {
    color: green;
    font-weight: lighter;
}

.boxes {
    margin: 5px;
    padding: 5px;
    border: 5px solid purple;
    border-radius: 5px;
    width: 30em;
}

#box1, #box2, #box3, #box4 {
    background-color: orange;
}